<html lang="pt-BR">

<head>
    <title>Cognito</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
    <div
        style="width: 440px; height: 340px; background: white; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div
            style="align-self: stretch; height: 601px; padding: 25px; background: #F4F2F1; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 32px; display: flex">
            <div
                style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
            </div>

            <div style="align-self: stretch; height: 0px; border: 1px #E5E4E3 solid"></div>

            <!-- Texto -->
            <div
                style="align-self: stretch; color: #171A88; font-size: 32px; padding-bottom: 20px; padding-top: 18px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 700; line-height: 40px; word-wrap: break-word">
                Código de validação
            </div>

            <!-- Card-->
            <div
                style="align-self: stretch; height: 120px; padding-left: 17px; padding-right: 17px; padding-top: 30px; padding-bottom: 30px; background: white; box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15); flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex">
                <div style="align-self: stretch; padding-bottom: 18px; ">
                    <span
                        style="color: #1A1919; font-size: 16px; font-family: Segoe UI;  font-weight: 400; line-height: 24px; word-wrap: break-word">
                        Aqui está o seu código de validação MFA para testar o cognito:
                    </span>
                </div>
                <div
                    style="align-self: stretch; color: #1A1919;  padding-bottom: 18px; font-size: 16px; font-family: Segoe UI; font-weight: 700; line-height: 24px; word-wrap: break-word">
                    {####}
                </div>
                <div style="align-self: stretch; padding-bottom: 10px; ">
                    <span
                        style="color: #1A1919; font-size: 16px; font-family: Segoe UI;  font-weight: 400; line-height: 24px; word-wrap: break-word">
                        Este código é válido por 2 horas.
                    </span>
                </div>
            </div>
        </div>

        <div
            style="align-self: stretch; padding-left: 25px; padding-right: 25px; padding-top: 22px; padding-bottom: 22px; background: #171A88; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
            <div
                style="flex: 1 1 0; color: white; font-size: 18px; font-family: Segoe UI; font-weight: 700; line-height: 24px; word-wrap: break-word">
                Jean Carlos Delai Vieceli
            </div>
        </div>

    </div>
</body>

</html>